<div class="container col-5">
  <form class="row">
    <div class="col-12">
      <!--<h4>Consultor: {{}}</h4>-->
      <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" aria-describedby="titulo"
               placeholder="Título" [(ngModel)]="activity.title" [ngModelOptions]="{standalone: true}"  >
        <small id="titleAlert" class="form-text text-muted" *ngIf="showTitle">Prenchimento do Título obrigatório *</small>
      </div>
      <div class="form-group">
        <label for="description">Descrição da Atividade</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="activity.description" [ngModelOptions]="{standalone: true}" ></textarea>
        <small id="descriptionAlert" class="form-text text-muted" *ngIf="(showDescription)">Prenchimento da atividade obrigatório*</small>
      </div>
    </div>
  </form>
  <form class="row">
    <div class="row flex-row-reverse container-btn-save col-12">
      <button (click)="saveActivity()" class="btn btn-success">salvar</button>
    </div>
  </form>
</div>
