<div class="container-services">
  <!--<select class="custom-select custom-select-lg mb-3">-->
  <!--<option selected>Tipo de Venda</option>-->
  <!--<option *ngFor="let typeSale of listTypeSales" [value]="typeSale.id">{{typeSale.name}}</option>-->
  <!--</select>-->
  <p>Escolha os serviços adicionar a todas as Linhas</p>

  <div class="custom-control custom-checkbox" *ngFor="let service of services; let count = index;">
    <input type="checkbox" class="custom-control-input" (click)="calculatorTotalService(count, $event)" [attr.id]="'customCheck' + service.id">
    <label class="custom-control-label" [attr.for]="'customCheck'+ service.id"> {{service.name}}
      <span> R$ {{service.value}}</span></label>
  </div>

  <div class="row total">
    <span>Total: R$ {{total}}</span>
  </div>
  <div class="row flex-row-reverse container-next">
    <button type="button" (click)="nextPass()" class="btn btn-info">Avançar</button>
  </div>

</div>
