.container-my-account{
  margin-top: 15px;
}

.datas-salesman{
  margin-top: 10px;
}
.picture-my-profile-card{
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.picture-profile-card{
  margin-top: 20px;
  text-align: -webkit-center;
}
.logo-solcial{
  width: 25px;
  height: 25px;
}
.card{
  margin-left: 15px;
}
