<div class="container-my-account">
  <div class="row">
    <div class="form-group col-4">
      <input type="text" class="form-control datas-salesman" id="nome" aria-describedby="nome"
             placeholder="Nome Completo">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

      <input type="email" class="form-control datas-salesman" id="email" aria-describedby="email"
             placeholder="Email">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

      <input type="tel" class="form-control datas-salesman" id="phone" aria-describedby="phone"
             placeholder="Celular">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

      <!-- Default switch -->
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Receber notificação em Push</label>
      </div>
    </div>

    <div class="form-group col-4">
      <input type="text" class="form-control datas-salesman" id="codigopostal" aria-describedby="codigopostal"
             placeholder="Codigo Postal">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

      <select class="custom-select datas-salesman">
        <option selected>Mato Grosso do Sul</option>
        <option>Goias</option>
        <option>Rio Grande do Sul</option>
        <option>Distrito Federal</option>
      </select>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="picture-profile-card align-middle">
        <img class="card-img-top picture-my-profile-card" [src]="photoProfile" alt="picture-my-profile-card">
      </div>
      <div class="card-body">
        <h5 class="card-title">Lucas Martins</h5>
        <p class="card-text">CPF/CNPJ: 418.300.938-25</p>
        <hr>
        <div>
          <a target="_blank" href="https://www.facebook.com/">
            <img class="d-inline-block logo-solcial" [src]="urlFacebook">
          </a>
          <a target="_blank" href="https://www.instagram.com/?hl=pt-br">
            <img class="d-inline-block logo-solcial" [src]="urlInstagran">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
