<!--<table class="wrap-all-app">-->
<!--  <tr class="roll-only-app">-->
<!--    <td class="content-menu-logged">-->
<!--      <app-menu class="app-menu"></app-menu>-->
<!--    </td>-->
<!--    <td class="body-content align-top" [@containerStatus]="containerState" >-->
<!--      <app-head-profile></app-head-profile>-->
<!--      <router-outlet></router-outlet>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
<!--<div *ngIf="showAlert" class="alert alert-danger" role="alert">-->
<!--  {{mgsAlert}}-->
<!--</div>-->
<!--<div *ngIf="showSuccess" class="alert alert-primary" role="alert">-->
<!--  {{mgsSuccess}}-->
<!--</div>-->

<app-menu></app-menu>
<div class="main-content" style="overflow-x: auto;">
  <!-- Top navbar -->
  <app-head-profile></app-head-profile>
  <!-- Pages -->
  <div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row ">
          <div *ngIf="showAlert" class="alert alert-danger" role="alert">
            {{mgsAlert}}
          </div>
          <div *ngIf="showSuccess" class="alert alert-primary" role="alert">
            {{mgsSuccess}}
          </div>
          <router-outlet></router-outlet>

          <ngx-loading [show]="loading"
                       [config]="{animationType: ngxLoadingAnimationTypes.circle,
                primaryColour: primaryColour,
                 secondaryColour: secondaryColour,
                 backdropBorderRadius: '3px'}"
                       [template]="loadingTemplate">


          </ngx-loading>


        </div>
        <div class="container-fluid">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
