.content{
  height: 100%;
  width : 100%;
}
.container-client-datas{
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
}
.client-name{
  margin-top: 15px;
}
.client-datas{
  display: block;
}
.container-title-plan{
  border-bottom: 1px solid darkgray;
  width: 100%;
  padding: 15px;
}
.title-plan{
  margin: 15px;
}
.percents{
  font-size: 2.6em;
}
.description{
  border: 1px solid lightgray;
  margin: 15px;
  border-radius: 5px;
}
.img-proposal{
  width: 35px;
  height: 35px;
}
.table-proposal{
  margin: auto;
  width: 100%;
  text-align: center;
  height: 700px;
}
.text-description{
  display: block;
}
.container{
  margin-top: 15px;
  margin-bottom: 600px;
}
.claro-icon{
  width: 120px;
  height: 100px;
}
.netcomm-icon{
 width: 200px;
  height: 80px;
}
.topo-claro{
  margin-top: 30px;
  margin-left: 30px;
}
.capa-center{
  text-align: center;
  margin-top: 400px;
  margin-bottom: 400px;
}
.capa-botton {
  text-align: right;
  margin-top: 500px;
  margin-right: 60px;
  margin-bottom: 300px;
}
.salesman-datas{
  display: block;
}
.container-title-services{
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.modulos-servicos{
  margin: 60px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.title-services{
  margin: 30px;
}
.table-contract{
  width: 70%;
}
.rodape{
  display: block;
}
.container-assinatura {
  text-align: center;
}
.aviso{
   margin: 60px;
}

#proposta-suc{
  width: 100%;
  height: 410px;
  overflow: scroll;
}
