<div id="content" hidden>

  <div class="input-group col-12" *ngIf="urlPdf">
    <div class="input-group col-12">
      <!--<iframe class="col-12 iframe-pdf" [src]="" type="application/pdf"></iframe>-->
      <img id="topo">
      <img>
    </div>
  </div>
</div>
<div id="proposta-suc">

  <div id="pag0" class="capa">
    <div class="topo-claro">
      <img class="claro-icon" src="../../../assets/Claro-logo-logotype.png">
    </div>
    <div class="capa-center">
      <img class="netcomm-icon" src="../../../assets/netcommLogo.png">
      <h3>Proposta Comercial</h3>
      <h5>Nome do CLiente Aki</h5>
    </div>
    <div class="capa-botton">
      <span class="salesman-datas">Nome do vendedor</span>
      <span class="salesman-datas"> emaildovendedor@algumacoisa.sucesso.netcomm</span>
      <span class="salesman-datas">(67) 99128-9745</span>
    </div>

  </div>

  <div id="pag1" class="container">
    <div class="container-client-datas">
      <h4 class="client-name">Aki nome do cliente</h4>
      <span class="client-datas">CNPJ: <b>28.661.657/0001-19</b></span>
      <span class="client-datas">Data: <b>21/04/2019</b> (Proposta válida por 3 dias)</span>
      <span class="client-datas">Hoje sua conta custa: <b>R$0,00</b></span>
      <span class="client-datas">Na Claro custará: <b>R$449,95</b> (sem os descontos)</span>
    </div>
    <div class="description">
      <div class="container-title-plan">
        <span class="title-plan"> <b>As vantagens do plano Claro Total Individual</b></span>
      </div>
      <table class="table-proposal">
        <tbody>
        <tr>
          <td>
            <h3 class="percents">0%</h3>
            <span class="text-description">ou <b> - R$ 10.798,80</b></span>
            <span class="text-description">de economia de 24 meses</span>
          </td>
          <td>
            <img class="img-proposal" src="../../../assets/call.png">
            <span class="text-description">Voz <b>Ilititado</b></span>
            <span class="text-description">para o Brasil todo usando o 21</span>
          </td>
        </tr>
        <tr>
          <td>
            <img class="img-proposal" src="../../../assets/whatsapp-black.png">
            <span class="text-description">Whats <b>à vontade </b></span>
            <span class="text-description">sem descontar do pacote de internet</span>
          </td>
          <td>
            <img class="img-proposal" src="../../../assets/acordo.png">
            <span class="text-description"><b>Isenção </b>de multa</span>
            <span class="text-description">cancelando nos primeiros 30 dias</span>
          </td>
        </tr>
        <tr>
          <td>
            <img class="img-proposal" src="../../../assets/foguete.png">
            <span class="text-description">SMS à <b>vontade </b></span>
            <span class="text-description">para qualquer destino do Brasil</span>
          </td>
          <td>
            <img class="img-proposal" src="../../../assets/waze.png">
            <img class="img-proposal" src="../../../assets/cabify.png">
            <img class="img-proposal" src="../../../assets/eas-taxy.png">
            <span class="text-description">Monilidade é <b>na Claro</b></span>
            <span class="text-description"><b>Waze, Cabify </b>e <b>Easy-taxy</b> inclusos nos pacotes a</span>
            <span class="text-description">partir de <b>5GB</b></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img class="img-proposal" src="../../../assets/instagram-black.png">
            <img class="img-proposal" src="../../../assets/Facebook-blue.png">
            <img class="img-proposal" src="../../../assets/twitter-black.png">
            <span class="text-description">As principais <b>redes sociais</b></span>
            <span
              class="text-description"><b>Insta, Face e Twiter </b> inclusos nos pacotes a partir de <b>5GB</b>.</span>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="pag2">
    <div class="modulos-servicos">
      <div class="container-title-services">
        <span class="title-services"><b>O que está sendo contratado</b></span>
      </div>
      <table class="table-contract">
        <thead class="thead-services">
        <td colspan="2"><b>Módulo e Serviços</b></td>
        <td><b>Quantidade</b></td>
        <td><b>R$ Mensal</b></td>
        </thead>
        <tbody>
        <tr>
          <td colspan="2">Franquia Compartilhada</td>
          <td>-</td>
          <td>R$0,00</td>
        </tr>
        <tr>
          <td colspan="2">Claro Total Individual 10GB + GOL + Banca Full + Hero Inter</td>
          <td>5</td>
          <td>R$449,95</td>
        </tr>
        <tr>
          <td colspan="2">Franquia Compartilhada</td>
          <td>-</td>
          <td>R$0,00</td>
        </tr>
        <tr>
          <td colspan="3"><b>TOTAL</b></td>
          <td>R$ 449,95</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="container-assinatura">
      <div class="assinatura">
        <span>_____________________________________________________</span>
      </div>
      <div>
        <span>Assinatura do Responsável</span>
      </div>
      <div>
        <span>28.661.657/0001-19</span>
      </div>
    </div>
    <div class="aviso">
      <span
        class="rodape">Todos os valores nessa proposta são uma simulação, podendo variar na sua fatura mensal.</span>
      <span class="rodape">Limitando aos aparelhos oferecidos pela Claro e aprovação no simulador da Claro</span>
      <span class="rodape">Sujeito a disponibilidade de cobertura</span>
    </div>
  </div>
</div>
