/*.title-welcome{*/
/*  margin: 15px;*/
/*  vertical-align: center;*/
/*}*/
/*.head-profile{*/
/*  height: 65px;*/
/*  background-color: #ffffff;*/
/*  border-radius: 2px 2px 2px 10px;*/
/*  width: 700px;*/
/*}*/
/*.picture-profile{*/
/*  height: 35px;*/
/*  width: 35px;*/
/*  border-radius: 100%;*/
/*  margin: 10px;*/
/*}*/
/*.right{*/
/*  float: right;*/
/*}*/
/*.far{*/
/*  margin: 10px;*/
/*  font-size: 1.3em;*/
/*  color: #768093;*/
/*}*/
/*.far:hover{*/
/*  color: #2f323e;*/
/*}*/
#navbar-main{
  background: #5e72e4;
}
