<div class="container-historic">
  <div class="card">
    <div class="card-header">
      <h5> Venda #Gh123, cnpj: {{company.cnpj}}</h5>
    </div>

    <div *ngFor="let activity of activities" class="col-lg-12">
      <div class="text-left">
        <div class="card-left">
          <div class="card w-50 text-left">
            <span class="card-text card-header">{{activity.timedate | date: 'medium'}}</span>
            <div class="card-body">
              <span class="card-text">{{activity.title}}</span>
<!--              <p class="card-text">Troca de Status. de: Proposta para: Perdido</p>-->
              <p>{{activity.description}} </p>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="text-right">-->
<!--        <div class="card-right flex-row-reverse">-->
<!--          <div class="card w-50 right">-->
<!--            <span class="card-text card-header">1 de Junho de 2019 às 08:13Hr CG</span>-->
<!--            <div class="card-body">-->
<!--              <span class="card-text">Criado nova Proposta</span>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
    </div>

  </div>

</div>
