<div class="row data-container col-12">
    <h4 class="col-6">{{razaosocial}}</h4>
    <h4 class="col-6" >{{cnpjProporsal | mask: cnpjMask}}</h4>
</div>
<div class="container-account">
  <ul class="nav nav-tabs">
    <li class="nav-item" >
      <a class="nav-link" routerLink="/logged/nova-venda/cliente" id="addresClient" routerLinkActive="active">
        <i class="fas fa-map-marker-alt"></i>
        <span class="title-aba"> Cliente <i id="checkClient" *ngIf="checkCnpjAddress" class="fas fa-check"></i></span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/logged/nova-venda/tipo-venda"
         routerLinkActive="active" id="typeSales">
        <i class="fas fa-dollar-sign"></i>
        <span class="title-aba"> Tipo de Venda <i id="checkTypeSale" *ngIf="checkTypeSale" class="fas fa-check"></i></span>
      </a>
    </li>
<!--    <li class="nav-item" >-->
<!--      <a class="nav-link" routerLinkActive="active" routerLink="/logged/nova-venda/planos" id="plans">-->
<!--        <i class="far fa-calendar-alt"></i>-->
<!--        <span class="title-aba"> Planos</span>-->
<!--      </a>-->
<!--    </li>-->
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" routerLink="/logged/nova-venda/linhas" id="lines">
        <i class="fas fa-phone-volume"></i>
        <span class="title-aba"> Linhas</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" routerLink="/logged/nova-venda/aparelhos" id="products">
        <i class="fas fa-shopping-cart"></i>
        <span class="title-aba">Aparelhos</span>
      </a>
    </li>
    <li class="nav-item"  *ngIf="showService">
      <a class="nav-link" routerLinkActive="active" routerLink="/logged/nova-venda/servicos" id="services">
        <i class="fas fa-code-branch"></i>
        <span class="title-aba"> Serviços</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" routerLink="/logged/nova-venda/papelada" id="submitDocs">
        <i class="fas fa-edit"></i>
        <span class="title-aba"> Papelada</span>
      </a>
    </li>
  </ul>
  <div>
<!--    <h5 class="valueTotal">Total R$ {{totalValueSale}}</h5>-->
<!--    <div class="row flex-row-reverse container-proposal" >-->
<!--      <button type="button" class="btn btn-primary" *ngIf="showSearchDemand" (click)="getDemand()">Buscar Pedido</button>-->
<!--    </div>-->

    <router-outlet></router-outlet>
  </div>
</div>
