.data-container{
  margin: 5px;
  padding: 5px;
  /*background-color: #ffffff;*/
  border-radius: 5px;
}
.container-account{
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 920px;

}
.disabled {
  color: #007bff;
}
.container-proposal {
  margin: 5px;
  /*padding: 15px;*/
}
.fa-check{
  color: lime;
}
.valueTotal{
  margin: 15px;
}
/*.nav-item{*/
  /*pointer-events: none;*/
/*}*/

@media only screen and (max-width: 600px) {
    .title-aba{
      visibility: hidden;
    }
}
