/*.row{*/
/*  margin-right: 0;*/
/*}*/
/*.chart-general{*/
/*  width: 450px;*/
/*  height: 300px;*/
/*}*/
/*.container-chart-general{*/
/*  margin: 25px;*/
/*  border: 1px solid rgba(0,0,0,.125);*/
/*  border-radius: 4px;*/
/*}*/
/*.container-dashboard{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: #f4f5f9 ;*/
/*}*/
/*.title-chart{*/
/*  background-color: #ffffff;*/
/*  width: 100%;*/
/*  font-size: 1.25rem;*/
/*  padding: 10px;*/
/*  margin: 0;*/
/*  color: #252529;*/
/*  font-weight: 500;*/
/*}*/
/*.subtitle-chart{*/
/*  background-color: #ffffff;*/
/*  width: 100%;*/
/*  margin-bottom: 0;*/
/*  padding: 10px;*/
/*}*/
/*.total-number{*/
/*  font-size: 2.3em;*/
/*  margin: 0;*/
/*  color: #252529;*/
/*  font-weight: 500;*/
/*}*/
/*.card{*/
/*  margin: 25px;*/
/*  width: 10rem;*/
/*}*/
/*.container-phone{*/
/*  border-radius: 50%;*/
/*  background-color: #2083fe;*/
/*  width: 60px;*/
/*}*/
/*.container-phone-block{*/
/*  border-radius: 50%;*/
/*  background-color: #ee4343;*/
/*  width: 60px;*/
/*}*/
/*.container-call{*/
/*  border-radius: 50%;*/
/*  background-color: #28c76f;*/
/*  width: 60px;*/
/*}*/
/*.container-not-conclusion{*/
/*  border-radius: 50%;*/
/*  background-color: #f5a155;*/
/*  width: 60px;*/
/*}*/
/*.phone-icon,.phone-block, .call-phone, .fa-exclamation-circle {*/
/*  margin: 15px;*/
/*  font-size: 1.2em;*/
/*  color: #eef6fd;*/
/*}*/
/*.fa-exclamation-circle{*/
/*font-size: 1.8em;*/
/*}*/
/*.text-card{*/
/*  color: #99a5bd;*/
/*  font-size: .75rem;*/
/*  font-weight: 600;*/
/*  letter-spacing: .9px;*/
/*  text-transform: uppercase;*/
/*  margin-top: 10px;*/
/*}*/
/*.image-profile-table{*/
/*  width: 35px;*/
/*  height: 35px;*/
/*  border-radius: 100%;*/
/*}*/
/*.title-company{*/
/*  margin: 0;*/
/*  color: #252529;*/
/*  font-weight: 500;*/
/*  font-size: 1rem;*/
/*}*/
/*.subtitle-company{*/
/*  color: #768093;*/
/*}*/
/*.dash-table{*/
/*  margin: 25px;*/
/*  width: 90%;*/
/*}*/
/*.row-head{*/
/*  background-color: #f3f6f9;*/
/*}*/
/*.head-text{*/
/*  padding: 10px 0 10px 30px;*/
/*  color: #768093;*/
/*  font-size: .875rem;*/
/*  font-weight: 500;*/
/*}*/
/*.data-table{*/
/*  padding: 1.25rem 0 1.25rem 30px;*/
/*  color: #768093;*/
/*  font-size: .875rem;*/
/*  font-weight: 500;*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  vertical-align: middle;*/
/*}*/
/*.datacompany{*/
/*  margin-left: 10px;*/
/*}*/

/*.row-datas {*/
/*  background-color: #ffffff;*/
/*}*/

/*@media  only screen and (max-width: 535px) {*/
/*  .card{*/
/*    width: 9em;*/
/*    height: 10em;*/
/*  }*/
/*  .text-card{*/
/*    display: block;*/
/*  }*/
/*  .container-phone{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*  }*/
/*  .container-phone-block{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*  }*/
/*  .container-call{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*  }*/
/*  .container-not-conclusion{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*  }*/
/*  .phone-icon,.phone-block, .call-phone, .fa-exclamation-circle {*/
/*    margin: 8px;*/
/*  }*/
/*  .total-number{*/
/*    font-size: 1.6em;*/
/*    !*font-weight: 300;*!*/
/*  }*/
/*  .chart-general{*/
/*    width: 350px;*/
/*    height: 200px;*/
/*  }*/
/*  .container-chart-general{*/
/*    margin: 30px;*/
/*  }*/
/*}*/
.main-content{
  overflow-y: scroll;
  /*overflow-x: hidden;*/
}
