<!--  cards layout old-->
<!--  <div class="row">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <div class="container-phone text-center"><i class="fas fa-phone-volume phone-icon"></i></div>-->
<!--        <h3 class="card-text text-card">-->
<!--          <span class="text-card">Linhas </span>-->
<!--          <span class="text-card">Ativas</span>-->
<!--        </h3>-->
<!--        <p class="card-text total-number">{{actives}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card" >-->
<!--      <div class="card-body">-->
<!--        <div class="container-phone-block text-center"><i class="fas fa-phone-slash phone-block"></i></div>-->
<!--        <h3 class="card-text text-card">-->
<!--          <span class="text-card">Reprovado </span>-->
<!--            <span class="text-card">Crédito</span>-->
<!--        </h3>-->
<!--        <p class="card-text total-number">{{disapprovedCredit}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <div class="container-call text-center"><i class="fas fa-phone call-phone"></i></div>-->
<!--        <h3 class="card-text text-card">-->
<!--          <span class="text-card">Inspeção </span>-->
<!--            <span class="text-card">Pendente</span>-->
<!--        </h3>-->
<!--        <p class="card-text total-number">{{pendingInspection}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <div class="container-not-conclusion text-center"><i class="fas fa-exclamation-circle"></i></div>-->
<!--        <h3 class="card-text text-card">-->
<!--          <span class="text-card">Não </span>-->
<!--            <span class="text-card">Concluído</span>-->
<!--        </h3>-->
<!--        <p class="card-text total-number">{{notCompleted}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  cards layout new-->
<!--  <div class="header bg-gradient-danger pt-5 pt-md-8">-->
<div class="row">
  <div class="header pb-4 pt-2 pt-md-2">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row ">
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Negociação</h5>
                    <span class="h2 font-weight-bold mb-0">{{negociacao}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Mesa</h5>
                    <span class="h2 font-weight-bold mb-0">{{mesa}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="ni ni-single-copy-04"></i>
                    </div>
                  </div>
                </div>
                <!--                <p class="mt-3 mb-0 text-muted text-sm">-->
                <!--                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>-->
                <!--                  <span class="text-nowrap row">Comparado a </span>-->
                <!--                  <span class="text-nowrap row">ultima semana</span>-->
                <!--                </p>-->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Validação</h5>
                    <span class="h2 font-weight-bold mb-0">{{validacao}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                      <i class="ni ni-ruler-pencil"></i>
                    </div>
                  </div>
                </div>
                <!--                <p class="mt-3 mb-0 text-muted text-sm">-->
                <!--                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>-->
                <!--                  <span class="text-nowrap">Desde de ontem</span>-->
                <!--                </p>-->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Crédito</h5>
                    <span class="h2 font-weight-bold mb-0">{{credito}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <!--                <p class="mt-3 mb-0 text-muted text-sm">-->
                <!--                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
                <!--                  <span class="text-nowrap">Desde o ultimo mês</span>-->
                <!--                </p>-->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Concluído</h5>
                    <span class="h2 font-weight-bold mb-0">{{concluido}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                </div>
                <!--                <p class="mt-3 mb-0 text-muted text-sm">-->
                <!--                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
                <!--                  <span class="text-nowrap">Desde o ultimo mês</span>-->
                <!--                </p>-->
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Porta no mês</h5>
                    <span class="h2 font-weight-bold mb-0">{{portames}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      <i class="ni ni-spaceship"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Ativado</h5>
                    <span class="h2 font-weight-bold mb-0">{{ativado}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape alert-default text-white rounded-circle shadow">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mt-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Rep.Crédito</h5>
                    <span class="h2 font-weight-bold mb-0">{{reprovadocred}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="my-3 ml-md-3 ml-sm-3 ml-lg-3">
<div class="header mb-2  pt-5 pt-md-2">
  <div class="container-fluid">
    <div class="row" >
      <div class="custom-control custom-checkbox mb-3">
        <input class="custom-control-input" id="linhas" type="checkbox">
        <label class="custom-control-label" for="linhas">Linhas</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="receitas" type="checkbox" >
        <label class="custom-control-label" for="receitas">Receita</label>
      </div>
    </div>
  </div>
</div>

<hr class="my-3 ml-md-3 ml-sm-3 ml-lg-3">
<div class="header mb-3  pt-5 pt-md-2">
  <span class="my-3 ml-md-3 ml-sm-3 ml-lg-3"> Tipos de pedido</span>
  <div class="container-fluid mt-2">
    <div class="row" >
<!--      <div class="">-->
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="novo" type="checkbox">
          <label class="custom-control-label" for="novo">Novo</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="portabilidade" type="checkbox">
          <label class="custom-control-label" for="portabilidade">Portabilidade</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="incremento" type="checkbox">
          <label class="custom-control-label" for="incremento">Incremento</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="tt" type="checkbox">
          <label class="custom-control-label" for="tt">TT</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="ttpre" type="checkbox">
          <label class="custom-control-label" for="ttpre">TT pré</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="renovacao" type="checkbox">
          <label class="custom-control-label" for="renovacao">Renovação</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="bl" type="checkbox">
          <label class="custom-control-label" for="bl">BL</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="telemetria" type="checkbox">
          <label class="custom-control-label" for="telemetria">Telemetria</label>
        </div>
        <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
          <input class="custom-control-input" id="net" type="checkbox">
          <label class="custom-control-label" for="net">NET</label>
        </div>
<!--      </div>-->
    </div>
  </div>
</div>

<hr class="my-3 ml-md-3 ml-sm-3 ml-lg-3">
<div class="header mb-3  pt-5 pt-md-2">
  <span class="my-3 ml-md-3 ml-sm-3 ml-lg-3"> Status de negociação</span>
  <div class="container-fluid mt-2">
    <div class="row" >
      <!--      <div class="">-->
      <div class="custom-control custom-checkbox mb-3">
        <input class="custom-control-input" id="negociando" type="checkbox">
        <label class="custom-control-label" for="negociando">Em negociação</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="mesa" type="checkbox">
        <label class="custom-control-label" for="mesa">Na mesa</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="validacao" type="checkbox">
        <label class="custom-control-label" for="validacao">Validação</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="credito" type="checkbox">
        <label class="custom-control-label" for="credito">Crédito</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="concluido" type="checkbox">
        <label class="custom-control-label" for="concluido">Concluído</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="portames" type="checkbox">
        <label class="custom-control-label" for="portames">Porta no mês</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="ativado" type="checkbox">
        <label class="custom-control-label" for="ativado">Ativado</label>
      </div>
      <div class="custom-control custom-checkbox mb-3 ml-lg-3 ml-sm-3 ml-md-3">
        <input class="custom-control-input" id="rejeitadocred" type="checkbox">
        <label class="custom-control-label" for="rejeitadocred">Rejeitado crédito</label>
      </div>
      <!--      </div>-->
    </div>
  </div>
</div>


<div class="row">

  <!--  layout new chart e tabela-->
  <div class="container-fluid mt--2 ">
    <div class="row">
      <div class="col-xl-12 mb-5 mb-xl-0 col-sm-12">
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Histórico</h6>
                <h2 class="text-white mb-0">Vendas</h2>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                      (click)="filterGraphic(0)">
                    <a href="javascript:void(0)" id="weekFilter" class="nav-link py-2 px-3  active"
                       data-toggle="tab" (click)="filterGraphicBtn('weekFilter')">
                      <span class="d-none d-md-block">Semana</span>
                      <span class="d-md-none">S</span>
                    </a>
                  </li>
                  <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
                      (click)="filterGraphic(1)">
                    <a href="javascript:void(0)" id="monthFilter" class="nav-link py-2 px-3"
                       data-toggle="tab" (click)="filterGraphicBtn('monthFilter')">
                      <span class="d-none d-md-block">Mes</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                      (click)="filterGraphic(2)">
                    <a href="javascript:void(0)" id="yearsFilter" class="nav-link py-2 px-3"
                       data-toggle="tab" (click)="filterGraphicBtn('yearsFilter')">
                      <span class="d-none d-md-block">Ano</span>
                      <span class="d-md-none">A</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <!-- Chart wrapper -->
              <canvas id="chart-sales" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Pedidos</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Operadora</th>
                <th scope="col">Pedido</th>
                <th scope="col">Status</th>
                <th scope="col">Informações</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <!--                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">-->
                    <!--                    <img alt="Image placeholder" src="../../../assets/img/theme/bootstrap.jpg">-->
                    <!--                  </a>-->
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                      <p class="mb-0 text-sm">012.456.456/0023-15</p>
                    </div>
                  </div>
                </th>
                <td>
                  Claro S/A
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    HjYg67D
                  </span>
                  </div>
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Inspeção Pendente
                  </span>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <div class="dropdown">
                      <a href="#" class="btn btn-primary dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        Mais <i class="feather icon-chevron-down"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                        <a class="dropdown-item" href="user-profile.html">Histórico do Pedido</a>
                        <a class="dropdown-item" href="user-profile.html">Sobre o Cliente</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">Angular</span>
                      <p class="mb-0 text-sm">654.711.332/0089-45</p>
                    </div>
                  </div>
                </th>
                <td>
                  TIM
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    Jr5S9G
                  </span>
                  </div>
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i> Ativado
                  </span>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <div class="dropdown">
                      <a href="#" class="btn btn-primary dropdown-toggle" id="dropdownMenuTable2" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        Mais <i class="feather icon-chevron-down"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable2">
                        <a class="dropdown-item" href="user-profile.html">Histórico do Pedido</a>
                        <a class="dropdown-item" href="user-profile.html">Sobre o Cliente</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">Casas Bahia</span>
                      <p class="mb-0 text-sm"> 33.041.260/0652-90</p>
                    </div>
                  </div>
                </th>
                <td>
                  TIM
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    DSs7d72Ks
                  </span>
                  </div>
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Análise de crédito
                  </span>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <div class="dropdown">
                      <a href="#" class="btn btn-primary dropdown-toggle" id="dropdownMenuTable3" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        Mais <i class="feather icon-chevron-down"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable3">
                        <a class="dropdown-item" href="user-profile.html">Histórico do Pedido</a>
                        <a class="dropdown-item" href="user-profile.html">Sobre o Cliente</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">Extra</span>
                      <p class="mb-0 text-sm">47.508.411/0225-59</p>
                    </div>
                  </div>
                </th>
                <td>
                  VIVO
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    KS8PVs7
                  </span>
                  </div>
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Verificação de Documento
                  </span>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <div class="dropdown">
                      <a href="#" class="btn btn-primary dropdown-toggle" id="dropdownMenuTable4" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        Mais <i class="feather icon-chevron-down"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable4">
                        <a class="dropdown-item" href="user-profile.html">Histórico do Pedido</a>
                        <a class="dropdown-item" href="user-profile.html">Sobre o Cliente</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">Riachuello</span>
                      <p class="mb-0 text-sm">33.200.056/0162-23</p>
                    </div>
                  </div>
                </th>
                <td>
                  Brasil Telecom
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    Js9Hk56
                  </span>
                  </div>
                </td>
                <td>
                  <div class="align-items-center">
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>Input
                  </span>
                  </div>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <div class="dropdown">
                      <a href="#" class="btn btn-primary dropdown-toggle" id="dropdownMenuTable5" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        Mais <i class="feather icon-chevron-down"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable5">
                        <a class="dropdown-item" href="user-profile.html">Histórico do Pedido</a>
                        <a class="dropdown-item" href="user-profile.html">Sobre o Cliente</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <!--            <tr>-->
              <!--              <th scope="row">-->
              <!--                <div class="media align-items-center">-->
              <!--                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">-->
              <!--                    <img alt="Image placeholder" src="/vendedor/assets/img/theme/vue.jpg">-->
              <!--                  </a>-->
              <!--                  <div class="media-body">-->
              <!--                    <span class="mb-0 text-sm">Vue Paper UI Kit PRO</span>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </th>-->
              <!--              <td>-->
              <!--                $2,200 USD-->
              <!--              </td>-->
              <!--              <td>-->
              <!--                  <span class="badge badge-dot mr-4">-->
              <!--                    <i class="bg-success"></i> completed-->
              <!--                  </span>-->
              <!--              </td>-->
              <!--              <td>-->
              <!--                <div class="avatar-group">-->
              <!--                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">-->
              <!--                    <img alt="Image placeholder" src="/vendedor/assets/img/theme/team-1-800x800.jpg" class="rounded-circle">-->
              <!--                  </a>-->
              <!--                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">-->
              <!--                    <img alt="Image placeholder" src="/vendedor/assets/img/theme/team-2-800x800.jpg" class="rounded-circle">-->
              <!--                  </a>-->
              <!--                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">-->
              <!--                    <img alt="Image placeholder" src="/vendedor/assets/img/theme/team-3-800x800.jpg" class="rounded-circle">-->
              <!--                  </a>-->
              <!--                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">-->
              <!--                    <img alt="Image placeholder" src="/vendedor/assets/img/theme/team-4-800x800.jpg" class="rounded-circle">-->
              <!--                  </a>-->
              <!--                </div>-->
              <!--              </td>-->
              <!--              <td>-->
              <!--                <div class="d-flex align-items-center">-->
              <!--                  <span class="mr-2">100%</span>-->
              <!--                  <div>-->
              <!--                    <div class="progress">-->
              <!--                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </td>-->
              <!--              <td class="text-right">-->
              <!--                <div ngbDropdown   placement="top-right">-->
              <!--                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>-->
              <!--                    <i class="fas fa-ellipsis-v"></i>-->
              <!--                  </a>-->
              <!--                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">-->
              <!--                    <a class="dropdown-item" href="javascript:void(0)">Action</a>-->
              <!--                    <a class="dropdown-item" href="javascript:void(0)">Another action</a>-->
              <!--                    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </td>-->
              <!--            </tr>-->
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
