.change-lead{
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  display: block;
}
.pull-right{
  float: right;
  display: block;
}
.container-account{
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 800px;
}
.box-icon-historic{
  display: block;
}
.box-change-lead{
  display: block;
  margin-top: 15px;
}
.btn-dropdown{
  background: transparent;
  border: transparent;
}
* {
  box-sizing: border-box;
}

h3, h3 code {
  font-size: 20px;
}

.flex {
  display: flex;
  padding: 8px;
  background: #f4f6f9;
}

.container {
  flex: 1;
}

.container:not(:last-child) {
  margin-right: 8px;
}

.vamp, .title-status {
  background-color: #f4f6f9;
  list-style: none;
  padding: 8px;
  color: #222;
  margin: 10px;
  width: 150px;

}


/*.title-status {*/
  /*height: 55px;*/
  /*margin: 5px;*/
  /*text-align: center;*/
  /*background-color: #2cabe3;*/
  /*border-radius: 10px;*/
/*}*/

.container-pedido-mesa {
  background-color: #ecf0f4;
  height: 100%;
}

.content-pedido-mesa {
  background-color: #f4f6f9;
}

.container-dragula {
  display: inline-block;
  vertical-align: top;
  /*border: 1px solid #54667a;*/
  border-radius: 10px;
  margin: 0.3em;
}

.container-title-pedido-mesa {
  background: linear-gradient(to left, #ffffff 70%, #f2f2f2);
  height: 75px;
}

.content-pedido-nameempresa {
  /*margin: 5px;*/
  background-color: #fff;
  border-radius: 5px;
  height: 6em;
}

.data-empresa {
  /*margin: 10px;*/
  display: inline-block;
  height: 100%;
  width: 100%;
}

.options-menu-empresa {
  display: inline-block;
  margin-top: 10px;
  /*margin-right: 5px;*/
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.content-title-pedido {
  width: 100%;
  display: block;
}

.icon-search, .search {
  display: inline-block;
}

.icon-search {
  margin: 8px;
}

.search {
  border: none;
  text-align: center;
}

.company-datas{
  font-size: 0.6em;
  height: 100%;
}
.client-lead{
  margin: 5px;
  border: solid #f4f6f9;;
  border-radius: 10px;
  width: 180px;
}

p{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.tab-active{
  color: black;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.alert-info, .alert-danger{
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 30%;
}
.fa-plus {
  color: #5cb85c;
}
.fa-trash-alt{
  color: #dc3545;
}
