<div class="container-account">
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="activeItemLink('opportunity', 0)">
      <p class="nav-link tab-active"  id="opportunity">
        <i class="fas fa-map-marker-alt"></i>
        Oportunidade
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('contactMade', 1)">
      <p class="nav-link" id="contactMade">
        <i class="fas fa-shopping-cart"></i>
        Contato Feito
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('reunion', 2)">
      <p class="nav-link"  id="reunion">
        <i class="fas fa-phone-volume"></i>
        Reunião
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('proposalSubmission', 3)">
      <p class="nav-link" id="proposalSubmission">
        <i class="fas fa-phone-volume"></i>
        Negociação
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('proposalAccepted', 4)">
      <p class="nav-link" id="proposalAccepted">
        <i class="fas fa-phone-volume"></i>
        Ganho
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('lost', 5)">
      <p class="nav-link" id="lost">
        <i class="fas fa-phone-volume"></i>
        Perdido
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('madeDocument', 6)">
      <p class="nav-link" id="madeDocument">
        <i class="fas fa-phone-volume"></i>
        Gerar Papelada
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('awaitingSignature', 7)">
      <p class="nav-link"  id="awaitingSignature">
        <i class="fas fa-phone-volume"></i>
        Aguardando Assinatura
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('signedContract', 8)">
      <p class="nav-link" id="signedContract">
        <i class="fas fa-phone-volume"></i>
        Contrato Assinado
      </p>
    </li>
    <li class="nav-item" (click)="activeItemLink('UploadDoc', 9)">
      <p class="nav-link"  id="UploadDoc">
        <i class="fas fa-phone-volume"></i>
        Upload de Documentos
      </p>
    </li>
  </ul>
  <div>
    <!--<router-outlet></router-outlet>-->
    <div class="">

      <div class="container" *ngIf="showNewOpportunity" (click)="createOportunity()">
        <i class="fas fa-plus"></i>
      </div>

      <div class="">

        <div class="" id="content-pedido-empresa-verific-doc">
          <div dragula="PEDIDO">
            <div class="client-lead" *ngFor="let sale of listDemand;let i = index;" id="{{sale.Company.cnpj}}"  (onDrop)="onItemDrop($event)">
              <div class="">
                <div class="data-empresa col-9">
                  <b class="company-datas">{{sale.Company.razao_social}}</b>
                  <p class="company-datas">{{sale.Company.cnpj}}</p>
                </div>
                <div class="options-menu-empresa company-datas">
                  <div class="box-icon-historic ">
                    <button class="btn-dropdown " >
                      <i class="fas fa-ellipsis-v pull-right"
                         id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" data-offset="10,20"></i>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" routerLink="{{'/logged/novo-historico/'+sale.code+'/'+sale.statussale}}">Atividade</a>
                        <a class="dropdown-item" routerLink="{{'/logged/historico-venda/'+sale.code}}">Histórico</a>
                        <a class="dropdown-item" routerLink="{{'/logged/detales-pedido/'+sale.id}}">Ver dados</a>
                        <a class="dropdown-item" >Excluir <i class="fas fa-trash-alt"></i> </a>
                      </div>
                    </button>

                  </div>
                  <div class="box-change-lead">
                    <img class="change-lead" [src]="arrowChangeStatus"
                         id="dropdownChangeLead" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" data-offset="10,20">
                    <div class="dropdown-menu" aria-labelledby="dropdownChangeLead">
                      <h6 class="dropdown-header" >Mudar para:</h6>
                      <div *ngFor="let status of listStatusSale">
                        <a class="dropdown-item"  (click)="changeStatusLead(status.id, sale.id)">{{status.name}}</a>
                      </div>
                    </div>

                  </div>


                  <!--<div class="dropdown-menu" aria-labelledby="dropdownChangeLead">-->
                    <!--<a class="dropdown-item" href="#">Histórico do Pedido</a>-->
                  <!--</div>-->
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="alert alert-info" role="alert" *ngIf="timerAlertOk">
        <strong>Alterado com sucesso!</strong>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="timerAlertDanger">
        <strong>Erro ao atualizar!</strong>
      </div>
    </div>
  </div>
  <div>
    <i (click)="getMoreDemand()" class="fas fa-chevron-circle-down"></i>
  </div>
</div>


