.container-my-account{
  margin-top: 15px;
}
.sebm-google-map-container {
  height: 300px;
}
.container-next{
  margin: 15px;
}
.client-datas{
  display: block;
}
.alert-purple {
  border-color: #694D9F;
  background: #694D9F;
  color: #fff;

  margin-top: 40px;
  /*position: absolute;*/
  /*left: auto;*/
  /*bottom: 0;*/
  /*left: auto;*/

}
.select-state, .select-state:focus{
  width: 200px;
}
.text-danger{
  color: #d44950;
}
