<div class="container-my-account">
  <div class="row col-12">
    <div class="form-group col-4">
      <input class="form-control datas-salesman" (keyup.enter)="searchCnpj()" type="number" [(ngModel)]="cnpj"
             id="searchCnpj" placeholder="Buscar CNPJ"/>
    </div>
    <div class="flex-row-reverse">
      <button type="button" (click)="searchCnpj()" class="btn btn-success">Buscar</button>
    </div>
  </div>
  <hr >
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <!--<h4>Consultor: {{}}</h4>-->
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" [(ngModel)]="newDemandView.company.cnpj" id="cnpj" aria-describedby="cnpj"
                 placeholder="CNPJ">
          <small id="cnpjAlert" class="form-text text-danger" *ngIf="true">Prencha CNPJ*</small>
        </div>
        <div class="form-group">
          <label for="razaoSocial">Nome</label>
          <input type="text" class="form-control" id="razaoSocial" [(ngModel)]="newDemandView.company.razao_social"
                 aria-describedby="emailHelp" placeholder="Nome">
          <small id="razaoSocialAlert" class="form-text text-danger" *ngIf="true">Prencha o nome</small>
        </div>
        <div class="form-group">
          <label for="phoneempresa">Telefone Empresa</label>
          <input [(ngModel)]="telefone" type="text" mask='{{telefonefixoMask}}' class="form-control" id="phoneempresa" placeholder="Telefone Empresa">
          <label>Telefones da empresa: {{phonesContactsCompany}}</label>
        </div>
        <div class="form-group">
          <label for="numberEmployee">Nº de Funcionários</label>
          <input [(ngModel)]="newDemandView.company.qtd_employee" type="number" class="form-control" id="numberEmployee" placeholder="Nº de Funcionários">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="atividadeprinc">Atividade Principal - CNAE: {{newDemandView.company.cnae_primario}}</label>
          <input [(ngModel)]="newDemandView.company.cnaeprimario_descricao" type="text" class="form-control" id="atividadeprinc" placeholder="Atividade Principal" [readOnly]="true">
        </div>
<!--        <div class="form-group">-->
<!--          <label for="cnae2">CNAE Secundário</label>-->
<!--          <input type="text" class="form-control" id="cnae2" placeholder="CNAE Secudário">-->
<!--        </div>-->
        <div class="form-group">
            <label for="socio1">Cargo: {{socio1.responsibility.name}} </label>
            <input [(ngModel)]="socio1.name" type="text"  class="form-control" id="socio1" aria-describedby="socio1"
                  [readOnly]="true" >
        </div>
        <div class="form-group">
            <label for="fantasia">Fantasia </label>
            <input [(ngModel)]="newDemandView.company.fantasia" type="text"  class="form-control" id="fantasia" aria-describedby="fantasia"
                  [readOnly]="true" placeholder="Fantasia">
        </div>
        <div class="form-group">
          <label for="inscricaoEstadual">Inscrição Estadual</label>
          <input type="text" [(ngModel)]="newDemandView.company.inscr_estadual" class="form-control" id="inscricaoEstadual" placeholder="Nº inscr. Estudual">
        </div>
        <div class="form-group">
          <label for="operator">Operadora Atual</label>
          <div id="operator" >
            <ngx-select [(ngModel)]="currentOperator.name" (select)="selectOperator($event)" placeholder="Operadora" [items]="operatorsView"></ngx-select>
            <small id="operatorAlert" class="form-text text-muted" *ngIf="false">Estado *</small>
          </div>
        </div>
        <div class="form-group">
            <label for="valueAccount">Valor atual da conta</label>
            <input [(ngModel)]="newDemandView.valueFromOperator" type="number" class="form-control col-6" sufix="R$" id="valueAccount" aria-describedby="complement">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="col-12">
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input type="text" class="form-control" [(ngModel)]="newDemandView.company.address.cep.street.name"
                 id="logradouro" placeholder="Logradouro">
          <small id="logradouroAlert" class="form-text text-danger" *ngIf="true">Prencha o Logradouro</small>
        </div>
        <div class="form-group">
          <label for="numero">Numero</label>
          <input type="text" class="form-control" [(ngModel)]="newDemandView.company.address.numero"
                 id="numero" placeholder="Numero">
          <small id="numeroAlert" class="form-text text-danger" *ngIf="true">Prencha o numero do endereço</small>
        </div>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" [(ngModel)]="newDemandView.company.address.cep.cep" mask='{{cepMask}}'
                 class="form-control" id="cep" aria-describedby="cepAlert" placeholder="CEP">
          <small id="cepAlert" class="form-text text-danger" *ngIf="true">Preencha o CEP</small>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="ml-3">
              <label for="statediv">UF</label>
              <div id="statediv">
                <ngx-select id="state" class="select-state" [items]="statesView" (select)="getCities($event)" [(ngModel)]="state.uf"
                            placeholder="Estado" [ngModelOptions]="{standalone: true}"></ngx-select>
              </div>
              <small id="estadoAlert" class="form-text text-danger" *ngIf="true">Estado *</small>
            </div>
            <div class="ml-3">
              <label for="citydiv">Cidade</label>
              <div id="citydiv">
                <ngx-select id="city" [items]="citiesView" [(ngModel)]="city.name"
                            placeholder="Cidade"></ngx-select>
              </div>
              <small id="cityAlert" class="form-text text-danger" *ngIf="true">Cidade *</small>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" id="bairro" aria-describedby="bairroAlert"
                 [(ngModel)]="newDemandView.company.address.cep.neighborhood.name"
                 placeholder="Bairro">
          <small id="bairroAlert"
                 class="form-text text-danger" *ngIf="true">Bairro</small>
        </div>
        <div class="form-group">
          <label for="complement">Complemento</label>
          <input [(ngModel)]="newDemandView.company.address.complement" type="text" class="form-control" id="complement"
                 aria-describedby="complement"
                 placeholder="Complemento">
        </div>

        <div class="form-group">
          <label for="contato">Nome de Contato</label>
          <input [(ngModel)]="contato.name" type="text" class="form-control" id="contato" aria-describedby="contato"
                 placeholder="Nome de Contato">
          <small id="contatolAlert" class="form-text text-danger" *ngIf="true">Prencha o nome d Contato</small>
        </div>
        <div class="form-group">
          <label for="phonecontato">Telefone do Contato</label>
          <input [(ngModel)]="contatophone" type="text" mask='{{celphoneMask}}' class="form-control" id="phonecontato" placeholder="Telefone de contato">
          <small id="contatoAlert" class="form-text text-danger" *ngIf="true">Prencha o Telefone do contato</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="contato.email" type="text" class="form-control" id="email" aria-describedby="email"
                 placeholder="Email">
        </div>

      </div>
    </div>

    <!--    <div class="form-group col-6" id="address2" *ngIf="clientDatas.nome">-->
    <!--      <span class="client-datas" >{{clientDatas.nome}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.abertura">Abertura: {{clientDatas.abertura}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.municipio">Cidade: {{clientDatas.municipio}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.complemento">Complemento: {{clientDatas.complemento}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.logradouro">Endereço: {{clientDatas.logradouro}}  nº{{clientDatas.numero}}</span>-->
    <!--      <span *ngIf="clientDatas.cep">CEP: {{clientDatas.cep}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.telefone">Contato: {{clientDatas.telefone}} / {{clientDatas.email}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.situacao">Situação:{{clientDatas.situacao}}</span>-->
    <!--      <span class="client-datas" *ngIf="clientDatas.porte">Porte: {{clientDatas.porte}}</span>-->
    <!--    </div>-->
  </div>
  <!--  <div class="row">-->
  <!--    <div class="form-group col-4">-->
  <!--      <input class="form-control datas-salesman" id="searchPlace" ngx-google-places-autocomplete [options]='options'-->
  <!--             #placesRef="ngx-places" [(ngModel)]="addressComplete"-->
  <!--             (onAddressChange)="handleAddressChange($event)" placeholder="Localização do cliente" />-->
  <!--    </div>-->
  <!--    <div class="form-group col-4" id="address">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="form-group col-4">-->
  <!--      <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom"-->
  <!--               [disableDefaultUI]="true" [zoomControl]="true" >-->
  <!--        <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng"-->
  <!--                    [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>-->
  <!--      </agm-map>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="row flex-row-reverse container-next" *ngIf="showbtnAvancar">
    <button type="button" (click)="nextPass()" class="btn btn-info">Avançar</button>
  </div>
  <div class="row" >
    <div class="ml-3" title="Limpar Dados">
      <i class="ni ni-fat-remove" (click)="cleanDataFromDemand()"></i>
    </div>
  </div>


<!--    <ngx-loading [show]="loading"-->
<!--                 [config]="{animationType: ngxLoadingAnimationTypes.circle,-->
<!--                primaryColour: primaryColour,-->
<!--                 secondaryColour: secondaryColour,-->
<!--                 backdropBorderRadius: '3px'}"-->
<!--                 [template]="loadingTemplate">-->


<!--    </ngx-loading>-->



</div>


<!--<div class="container-fluid">-->
<!--<div class='row'>-->
<!--<div class="form-group">-->
<!--<label class='col-sm-2'>Address Line 1</label>-->
<!--<input class='col-sm-10' type='text' [(ngModel)]='location.address_level_1' class="form-control" placeholder='Office, Apt, Home, Street'>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class='col-sm-2'>Address Line 2</label>-->
<!--<input class='col-sm-10'  [(ngModel)]='location.address_level_2' class='form-control' placeholder='City'/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class='col-sm-2'>State / Province / Region</label>-->
<!--<input class='col-sm-10'  [(ngModel)]='location.address_state' class='form-control' placeholder='State'>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class='col-sm-2'>Country</label>-->
<!--<input class='col-sm-10'  [(ngModel)]='location.address_country' class='form-control' placeholder='State'>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class='col-sm-2'>Postal / Zip code</label>-->
<!--<input class='col-sm-10'  [(ngModel)]='location.address_zip' class='form-control' placeholder='Zip'>-->
<!--</div>-->

<!--<button (click)='updateOnMap()' type="submit" class="btn btn-primary">Search</button>-->
<!--</div>-->
<!--</div>-->
