b{
  color: #eef6fd;
}
.box-type-product{
  background-color: #008bc9;
  width: 150px;
  height: 150px;
  margin: 25px;
  border-radius: 7px;
}
.fas{
  color: #ff0000;
}

.content-mobile, .content-wifi{
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 2.6em;

}
.content-text-product{
  text-align: center;
  width: 100%;
  font-size: 1.6em;
}
.container-next{
  margin-bottom: 15px;
}

.total-products{
  display: block;
}
.total-products-deduct{
  /*margin: 1px;*/
  border: 3px solid #c7e3ff;
  /*padding: 5px;*/
  width: 200px;
  /*border-radius: 5px;*/
  display: block;
}
