<div class="container">
  <div class="row container-next">
      <button type="button" class="btn btn-primary" (click)="addProduct()">Adicionar</button>
  </div>
  <div class="text-right total-prod">
    <span class="total-products">Total em produtos R$  {{totalProducts}}</span>
    <span class="total-products">Desconto Total R$     {{deductionTotal}}</span>
    <span class="total-products">Total com desconto R$ {{totalWithDeduction}}</span>
  </div>
  <div class="row">
      <div >
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unit.</th>
            <th scope="col">Pontos</th>
            <th scope="col">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let demandProduct of listDemandProductsView; let i = index" >
            <th scope="row"><i class="fas fa-trash-alt" (click)="removeProductFromList(i)"></i></th>
            <td>
              <span>{{demandProduct.product.name}}</span>
              <ngx-select *ngIf="demandProduct.product.name == undefined"
                          class="select-plan"
                          (keyup.enter)="searchProduct($event.srcElement.value)"
                          [items]="listProductsName"
                          (select)="settingProduct($event, i)" id="select-plan"
                          [(ngModel)]="demandProduct.product.name" [placeholder]="config.placeholder">

              </ngx-select>
            </td>
            <td>
              <span>{{qtdProduct}}</span>
              <input type="number" [(ngModel)]="demandProduct.qtd" (change)="calculationTotalByProduct(i)" class="form-control" placeholder="quantidade">
            </td>
            <td>
              <span>R${{demandProduct.product.value}}</span>
            </td>
            <td>
              <input type="number" [(ngModel)]="demandProduct.deduction" (change)="calculationTotalByProduct(i)" class="form-control" placeholder="Pontos" >
            </td>
            <td>
              <span>R${{ demandProduct.total }}</span>
            </td>
          </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example" *ngIf="false">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li *ngFor="let page of [].constructor(totalPages); let i = index;" class="page-item">
              <a class="page-link" href="#">{{i+1}}</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
  </div>
  <div class="row flex-row-reverse container-next">
    <button type="button" (click)="nextPass()" class="btn btn-info">Avançar</button>
  </div>
</div>
