<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Informe o Código do pedido</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-8">
        <input class="form-control datas-salesman" (keyup.enter)="searchDemandByCode()" type="text" [(ngModel)]="code" id="codigo" placeholder="Código"/>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="searchDemandByCode()">Buscar</button>
    </div>
  </div>

  <div *ngIf="alertCode" class="alert alert-danger" role="alert">
    {{mgsAlert}}
  </div>
</div>
