<!--<div class="container-menu" [@containerMenuStatus]="menuTextState" >-->
<!--  <ul class="content-menu" [@slideInOut]="menuState" >-->
<!--    <li class="icon-hamburguer" id="icon-hamburguer" (click)="toggleMenu()">-->
<!--      <i class="fas fa-bars fa-lg"></i>-->
<!--    </li>-->
<!--    <hr>-->
<!--    <h6 class="title-session" [@title-session]="menuTextState">INÍCIO</h6>-->
<!--    <li class="item-menu" routerLink="/logged/minha-conta">-->
<!--      <i class="fas fa-user icon-menu align-top"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">-->
<!--          Minha-->
<!--          <span class="text-menu">-->
<!--            Conta-->
<!--          </span>-->
<!--        </span>-->
<!--      </div>-->
<!--    </li>-->

<!--    <li class="item-menu" routerLink="/logged/dashboard">-->
<!--      <i class="fas fa-home icon-menu align-top"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">-->
<!--          Dashboard-->
<!--        </span>-->
<!--      </div>-->
<!--    </li>-->
<!--    <hr>-->
<!--    <h6 class="title-session" [@title-session]="menuTextState">GERAL</h6>-->
<!--    <li class="item-menu" routerLink="/logged/nova-venda/cliente">-->
<!--      <i class="fas fa-plus-circle icon-menu"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">Nova Venda</span>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="item-menu" routerLink="/logged/minhas-vendas">-->
<!--      <i class="fas fa-list-ul icon-menu"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">Funil de Vendas</span>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="item-menu" routerLink="/logged/extrato-financeiro">-->
<!--      <i class="fas fa-credit-card  icon-menu"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">Extrato Financeiro</span>-->
<!--      </div>-->
<!--    </li>-->
<!--    <hr>-->

<!--    <h6 class="title-session" [@title-session]="menuTextState">SUPORTE</h6>-->
<!--    <li class="item-menu">-->
<!--      <i class="far fa-file-alt icon-menu"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">Promoções Vigentes</span>-->
<!--      </div>-->
<!--    </li>-->

<!--    <li class="item-menu">-->
<!--      <i class="fas fa-info-circle  icon-menu"></i>-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">Dúvidas Frequentes</span>-->
<!--      </div>-->
<!--    </li>-->

<!--    <hr>-->
<!--    <li class="item-menu" id="loggout" (click)="logOut()">-->
<!--      <div class="d-inline-block align-top content-text-menu" [@textMenuInOut]="menuTextState">-->
<!--        <span class="text-menu">SAIR</span>-->
<!--      </div>-->
<!--      <i class="fas fa-power-off icon-menu"></i>-->
<!--    </li>-->

<!--  </ul>-->
<!--</div>-->

<!--newLayout-->
<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
            aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/logged/dashboard']">
      <img src="./assets/img/brand/Netcomm_logo_dark.png" class="navbar-brand-img" alt="...">
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <i class="ni ni-bell-55"></i>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/theme/team-1-800x800.jpg">
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/logged/dashboard']">
              <img src="./assets/img/brand/Netcomm_logo_dark.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{menuItem.icon}} {{menuItem.class}}"></i>
            {{menuItem.title}}
          </a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
<!--      <h6 class="navbar-heading text-muted">Documentation</h6>-->
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active">
            <i class="ni ni-spaceship"></i> Promoções Vigentes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="ni ni-palette"></i> Dúvidas Frequentes
          </a>
        </li>
        <li class="nav-item" routerLink="/logged/minha-conta">
          <a class="nav-link" >
            <i class="ni ni-ui-04"></i> Minha Conta
          </a>
        </li>
        <li class="nav-item" id="loggout" (click)="logOut()">
          <a class="nav-link pointer-event" >
            <i class="fas fa-power-off icon-menu"></i> SAIR
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
