ul {
  list-style-type: none;
}
@media only screen and (min-width: 600px) {


  .content-menu {
    margin: 0px;
    padding: 10px;
  }

  .container-menu {
    background-color: #f4f5f9;
    color: #768093;
    position: fixed;
    top: 0;
    bottom: 0;
    /*width: 154px;*/
    height: 100%;
  }

  .item-menu:hover {
    color: #2083fe;
    cursor: pointer;
  }

  .content-text-menu {
    margin-left: 10px;
  }

  .icon-menu {
    vertical-align: top;
  }


  .container-menu-not-expande {
    width: 73px;
  }
  .content-menu-not-expande {
    width: 73px;
  }

  .title-session-not-expande {
    font-size: 0.6em ;
  }
  .item-menu-not-expande {
    text-align: center;
  }

  .loggout-not-expande{
    text-align: left;
  }
  .text-menu-not-expande, .content-text-menu-not-expand {
    visibility: hidden;
  }
  .item-menu-not-expande{
    height: 36px;
  }


}
@media only screen and (max-width: 600px) {

  .container-menu{
    background-color: #f4f5f9;
    color: #768093;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100%;
  }
  .content-menu{
   width: 100px;
    padding-left: 10px;
  }
  .title-session{
    font-size: 0.8em;
  }
  .text-menu{
    display: block;
    font-size: 0.9em;
  }

  .item-menu-not-expande{
    width: 47px;
    text-align: center;
  }

/*setting to menu not expande*/

  .container-menu-not-expande {
    width: 73px;
  }
  .content-menu-not-expande {
    width: 73px;
  }

  .title-session-not-expande {
    font-size: 0.8em;
  }
  .item-menu-not-expande {
    text-align: center;
  }

  .loggout-not-expande{
    text-align: left;
  }
  .text-menu-not-expande, .content-text-menu-not-expand {
    visibility: hidden;
  }
  .item-menu-not-expande{
    height: 36px;
  }

}
.icon-hamburguer-not-expande, .title-session-not-expande{
  text-align: center;
}
.icon-hamburguer{
  margin-top: 14px;
}


/*new layout*/

