<div class="container-documents">
  <div class="row flex-row-reverse container-proposal" *ngIf="true">
    <!--      <a type="button" class="btn btn-danger" (click)="generateProporsal()">Proposta</a>-->
    <a class="btn btn-danger" routerLinkActive="active" routerLink="/logged/nova-venda/proposta">Proposta</a>
  </div>
  <form class="row">
    <div class="col-5">
      <!--<h4>Consultor: {{}}</h4>-->
      <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <span  id="cnpj" >: {{demandView.company.cnpj}}</span>
        <small id="cnpjAlert" class="form-text text-muted" *ngIf="false">Prencha a Razão Social</small>
      </div>
      <div class="form-group">
        <label for="razaoSocial">Razão Social</label>
        <span id="razaoSocial" >: {{demandView.company.razao_social}}</span>
        <small id="razaoSocialAlert" class="form-text text-muted" *ngIf="false">Prencha a Razão Social</small>
      </div>
      <div class="form-group">
        <label for="telfixo">Telefone Fixo</label>
        <input type="text" class="form-control" id="telfixo" placeholder="Telefone Fixo">
      </div>
      <div class="form-group">
        <label for="numberEmployee">Nº de Funcionários</label>
        <input type="number" class="form-control" id="numberEmployee" placeholder="Nº de Funcionários">
      </div>
      <div class="form-group">
        <div class="plan">
          <label for="operator">Operadora Atual</label>
          <ngx-select id="operator" class="select-plan" [items]="operatosView" [(ngModel)]="operator"
                      placeholder="Operadora" [ngModelOptions]="{standalone: true}"></ngx-select>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="cnae1">CNAE Primario</label>
        <input type="text" class="form-control" id="cnae1" placeholder="CNAE Primario">
      </div>
      <div class="form-group">
        <label for="cnae2">CNAE Secundário</label>
        <input type="text" class="form-control" id="cnae2" placeholder="CNAE Secudário">
      </div>
      <div class="form-group">
        <label for="inscricaoEstadual">Inscrição Estadual</label>
        <input type="text" class="form-control" id="inscricaoEstadual" placeholder="Nº inscr. Estudual">
      </div>
    </div>
  </form>
  <hr>
  <h6> Endereço</h6>
  <form class="row">
    <div class="col-5">
      <div class="form-group">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" aria-describedby="cepAlert"
               placeholder="CEP">
        <small id="cepAlert" class="form-text text-muted" *ngIf="false">CEP</small>
      </div>
      <div class="form-group">
        <div class="plan">
          <label for="state">UF</label>
          <ngx-select id="state" class="select-plan" [items]="statesView" (select)="getCities($event)" [(ngModel)]="state"
                      placeholder="Estado" [ngModelOptions]="{standalone: true}"></ngx-select>
        </div>
      </div>
      <div class="form-group">
        <div class="plan">
          <label for="city">Cidade</label>
          <ngx-select id="city" class="select-plan" [items]="citiesView" [(ngModel)]="operator"
                      placeholder="Cidade" [ngModelOptions]="{standalone: true}"></ngx-select>
        </div>
      </div>
      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" placeholder="Logradouro">
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" aria-describedby="bairroAlert"
               placeholder="Bairro">
        <small id="bairroAlert" class="form-text text-muted" *ngIf="false">CEP</small>
      </div>
      <div class="form-group">
        <div class="plan">
          <label for="complement">Complemento</label>
          <input type="text" class="form-control" id="complement" aria-describedby="complementAlert"
                 placeholder="Complemento">
        </div>
      </div>
    </div>


  </form>

  <div class="row flex-row-reverse container-btn-send-bko">
    <button type="submit" class="btn btn-success">Enviar ao BKO</button>
  </div>
</div>
