<div class="container-type-sales">
  <div class="row">
    <div class="col-3">
      <div class="custom-control custom-checkbox" *ngFor="let typesale of listTypeSales; let count = index;">
        <input type="checkbox" class="custom-control-input" [checked]="listSettingCheck.includes(typesale.id)" [attr.id]="'customCheck' + typesale.id" (click)="addTypeSale(count, $event)">
        <label class="custom-control-label" [attr.for]="'customCheck'+ typesale.id"> {{typesale.name}}</label>
      </div>
    </div>
    <div class="col-6">
      <app-plan></app-plan>
    </div>

  </div>

  <div class="row flex-row-reverse container-next" *ngIf="showbtnAvancar">
    <button type="button" (click)="nextPass()" class="btn btn-info">Avançar</button>
  </div>

</div>
