<div class="plan">
  <ngx-select class="select-plan" [items]="plansView" (select)="settingPlan($event)" [defaultValue]="planChoosed.name" id="select-plan" [keepSelectedItems]="plan" [(ngModel)]="plan.name" [placeholder]="config.placeholder"></ngx-select>
  <div>
    <span>Por Mês/</span>
    <span>Por Linha/</span>
    <!--<span>R$ {{(planChoosed.valueTotal) ? planChoosed.valueTotal : 0}}</span>-->
  </div>
  <div *ngIf="plan"> O plano {{planChoosed.name}} contém as seguintes opções:</div>
  <div *ngFor="let titles of listTitlePlans">
    <!--<span>-->
      <!--{{pack.name}}-->
    <!--</span>-->
    <span>
      {{titles.title}}
    </span>
    <span>
      / R$ {{titles.valueTotal}}
    </span>
  </div>
<!--  <div class="row flex-row-reverse container-next">-->
<!--    <button type="button" (click)="nextPass()" class="btn btn-info">Avançar</button>-->
<!--  </div>-->
</div>
