<!--old Template-->
<!--<div class="container-login">-->
<!--  <div id="container">-->
<!--    <h1>Log In</h1>-->
<!--    <span class="close-btn">-->
<!--  </span>-->

<!--    <div>-->
<!--      <input type="email" [(ngModel)]="user.email" name="email" placeholder="E-mail">-->
<!--      <input type="password" name="pass" (keyup.enter)="doLogin()" [(ngModel)]="user.password" placeholder="Password">-->
<!--      <div class="form-group">-->
<!--        <button class="btn login-btn"  (click)="doLogin()">Login</button>-->
<!--      </div>-->
<!--      <div id="remember-container">-->
<!--        <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>-->
<!--        <span id="remember">Lembrar senha</span>-->
<!--        <span id="forgotten">Esqueci a senha</span>-->
<!--      </div>-->
<!--      <div class="alert alert-purple" *ngIf="timeAlert">-->
<!--        <span class="glyphicon glyphicon-certificate"></span>-->
<!--        <strong>Login / Password Invalido!</strong>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--newtemplate-->
<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Salescom Brasil</h1>
          <p class="text-lead text-light">{{frases}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Logar com</small></div>
          <div class="btn-wrapper text-center">
<!--            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">-->
<!--              <span class="btn-inner&#45;&#45;icon"><img src="/vendedor/assets/img/icons/common/instagran.png"></span>-->
<!--              <span class="btn-inner&#45;&#45;text">Instagram</span>-->
<!--            </a>-->
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img [src]="urlLoginGoogle"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ou entre com seu email</small>
          </div>
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" name="pass"
                       (keyup.enter)="doLogin()" [(ngModel)]="user.password" >
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Lembrar-me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="button" (click)="doLogin()" class="btn btn-primary my-4">Entrar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
        </div>
      </div>
    </div>
  </div>
</div>



