.container-account{
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 920px;
}
.title-panel{
  font-weight: bold;
}
.container{
  width: auto;
}
.container-title-panel{
  margin-bottom: 15px;
}
.text-card{
  display: block;
  font-size: 1.0em;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 8px;
}
.subtext-card{
  font-size: 0.7em;
}
.card {
  margin: 10px;
}
.money-gain {
  width: 50px;
  height: 50px;
}
.text-values, .text-values-qtd{
  display: inline;
}
.text-values{
  margin: 10px;
  left: 5px;
}
.text-total, .text-qtd-number{
  display: block;
}
.text-values-qtd{
  text-align: center;
  vertical-align: bottom;
  font-size: 0.9em;
  background-color: #F0F0F0;
  /*border: 1px solid black;*/
  /*border-radius: 50%;*/
}
.calendar-icon{
  width: 30px;
  height: 30px;
  /*position: absolute;*/
  /*right: 25px;*/
  /*top: 2px*/
}

.input-date, .calendar-icon {
  display: inline;
}

.wc-date-container {
  /*display: block;*/
  width: 100% !important;
  height: calc(1.5em + .75rem + 3px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff!important;
  background-clip: padding-box!important;
  border: 1px solid #ced4da!important;
  border-radius: .25rem!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}
.wc-date-container[_ngcontent-c5] > span[_ngcontent-c5]{
  color: #2f323e!important;
}
