<div class="container-account">
  <ul class="nav nav-tabs container-title-panel">
    <p class="title-panel">
      PAINEL FINANCEIRO
    </p>
  </ul>
  <div class="container">
    <div class="row">
      <span>De:</span>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <angular2-date-picker [(ngModel)]="startDate"
                              (onDateSelect)="selectDateStart($event)"
                              [settings]="settings"></angular2-date-picker>
      </div>
      <span>Até:</span>
      <div class="col-xs-12 col-12 col-md-4 form-group">

          <angular2-date-picker [(ngModel)]="finalDate"
                                (onDateSelect)="selectDateFinal($event)"
                                [settings]="settings"></angular2-date-picker>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="redoGetFinancial()">Filtrar</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <table>
            <tr class="text-center">
              <img class="money-gain" [src]="imgSearchMoney">
            </tr>
            <tr>
              <h3 class="card-text text-card">
                <span class="text-card">Propostas </span>
              </h3>
            </tr>
            <tr class="text-values-qtd">
              <span class="text-total"> Total</span>
              <span class="text-qtd-number">{{valueProporsal.totalproposta}}</span>
            </tr>
            <tr class="text-values">
              <p class="card-text total-number">R$ {{valueProporsal.valuetotalproposta}}</p>
            </tr>
          </table>
        </div>
      </div>
      <div class="card" >
        <div class="card-body">
          <table>
            <tr class="text-center">
              <img class="money-gain" [src]="imgEyesMoney">
            </tr>
            <tr>
              <h3 class="card-text text-card">
                <span class="text-card">Fechados</span>
                <!--<span class="subtext-card">(Ainda Não aprovados)</span>-->
              </h3>
            </tr>
            <tr class="text-values-qtd">
              <span class="text-total"> Total</span>
              <span class="text-qtd-number">{{valueClosed.totalfechadossemaprovacao}}</span>
            </tr>
            <tr class="text-values">
              <p class="card-text total-number">R$ {{valueClosed.valuetotalfechadossemaprovacao}}</p>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <table>
            <tr class="text-center">
              <img class="money-gain" [src]="imgFlyMoney">
            </tr>
            <tr>
              <h3 class="card-text text-card">
                <span class="text-card">Perdidos</span>
                <!--<span class="text-card">Pendente</span>-->
              </h3>
            </tr>
            <tr class="text-values-qtd">
              <span class="text-total"> Total</span>
              <span class="text-qtd-number">{{valueLost.totalperdidos}}</span>
            </tr>
            <tr class="text-values">
              <p class="card-text total-number">R$ {{valueLost.valuetotalperdidos}}</p>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <table>
            <tr class="text-center">
              <img class="money-gain" [src]="imgHandBagMoney">
            </tr>
            <tr>
              <h3 class="card-text text-card">
                <span class="text-card">Ganhos/</span>
                <!--<span class="text-card">Concluidos</span>-->
              </h3>
            </tr>
            <tr class="text-values-qtd">
              <span class="text-total"> Total</span>
              <span class="text-qtd-number">{{valueGain.totalganhosativados}}</span>
            </tr>
            <tr class="text-values">
              <p class="card-text total-number">R$ {{valueGain.valuetotalganhosativados}}</p>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
          <div class="card-body">

            <table>
              <tr class="text-center">
                <img class="money-gain" [src]="imgGraphMoney">
              </tr>
              <tr>
                <h3 class="card-text text-card">
                  <span class="text-card">Total</span>
                  <!--<span class="text-card">Concluído</span>-->
                </h3>
              </tr>
              <tr class="text-values-qtd">
                <span class="text-total"> Total</span>
                <span class="text-qtd-number">{{valueTotal.total}}</span>
              </tr>
              <tr class="text-values">
                <p class="card-text total-number">R$ {{valueTotal.valuetotal}}</p>
              </tr>
            </table>



          </div>
        </div>
      </div>
  </div>


</div>
