<script src="account.js"></script>
<div class="container-account">
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="activeItemLink('minhaconta')">
      <a class="nav-link" routerLink="/logged/minha-conta/" id="minhaconta" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        Minha Conta
      </a>
    </li>
    <li class="nav-item" (click)="activeItemLink('documentos')">
      <a class="nav-link" routerLink="/logged/minha-conta/meus-documentos" id="documentos">
        <i class="fas fa-id-card"></i>
        Meus Documentos
      </a>
    </li>
    <li class="nav-item" (click)="activeItemLink('contabancaria')">
      <a class="nav-link" routerLink="/logged/minha-conta/conta-bancaria" id="contabancaria">
        <i class="far fa-money-bill-alt"></i>
        Métodos de Recebimentos
      </a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
