<div class="container-details-sales">
  <div class="">
    <label><b>Consultor:</b> Marcelo Pordomo</label>
    <form class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="razaoSocial">Razão Social</label>
          <input type="text" class="form-control" id="razaoSocial" aria-describedby="emailHelp"
                 placeholder="Razão Social">
          <small id="razaoSocialAlert" class="form-text text-muted" *ngIf="false">Prencha a Razão Social</small>
        </div>
        <div class="form-group">
          <label for="representant">Representante</label>
          <input type="text" class="form-control" id="representant" placeholder="Representante">
        </div>
        <div class="form-group">
          <label for="telfixo">Telefone Fixo</label>
          <input type="text" class="form-control" id="telfixo" placeholder="Telefone Fixo">
        </div>
        <div class="form-group">
          <label for="numberEmployee">Nº de Funcionários</label>
          <input type="number" class="form-control" id="numberEmployee" placeholder="Nº de Funcionários">
        </div>
        <div class="form-group">
          <div class="plan">
            <label for="operator">Operadora Atual</label>
            <ngx-select id="operator" class="select-plan" [items]="operatosView" [(ngModel)]="operator"
                        placeholder="Operadora" [ngModelOptions]="{standalone: true}"></ngx-select>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" placeholder="CNPJ">
        </div>
        <div class="form-group">
          <label for="admin1">Administrador </label>
          <input type="text" class="form-control" id="admin1" placeholder="Administrador">
        </div>
        <div class="form-group">
          <label for="admin2">Administrador</label>
          <input type="text" class="form-control" id="admin2" placeholder="Administrador">
        </div>
        <div class="form-group">
          <label for="cnae1">CNAE Primario</label>
          <input type="text" class="form-control" id="cnae1" placeholder="CNAE Primario">
        </div>
        <div class="form-group">
          <label for="cnae2">CNAE Secundário</label>
          <input type="text" class="form-control" id="cnae2" placeholder="CNAE Secudário">
        </div>
        <div class="form-group">
          <label for="inscricaoEstadual">Inscrição Estadual</label>
          <input type="text" class="form-control" id="inscricaoEstadual" placeholder="Nº inscr. Estudual">
        </div>
        <span>Cliente Claro</span>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="clientClaro">
          <label class="form-check-label" for="clientClaro">Sim</label>
        </div>
      </div>
    </form>
    <hr>
    <h6> Endereço</h6>
    <form class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep" aria-describedby="cepAlert"
                 placeholder="CEP">
          <small id="cepAlert" class="form-text text-muted" *ngIf="false">CEP</small>
        </div>
        <div class="form-group">
          <div class="plan">
            <label for="state">UF</label>
            <ngx-select id="state" class="select-plan" [items]=""
                        placeholder="Estado" ></ngx-select>
          </div>
        </div>
        <div class="form-group">
          <div class="plan">
            <label for="city">Cidade</label>
            <ngx-select id="city" class="select-plan" [items]=""
                        placeholder="Cidade" ></ngx-select>
          </div>
        </div>
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input type="text" class="form-control" id="logradouro" placeholder="Logradouro">
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" id="bairro" aria-describedby="bairroAlert"
                 placeholder="Bairro">
          <small id="bairroAlert" class="form-text text-muted" *ngIf="false">CEP</small>
        </div>
        <div class="form-group">
          <div class="plan">
            <label for="complement">Complemento</label>
            <input type="text" class="form-control" id="complement" aria-describedby="complementAlert"
                   placeholder="Complemento">
          </div>
        </div>
      </div>
    </form>
    <div class="row flex-row-reverse container-btn-update" >
      <button type="button" class="btn btn-primary">Atualizar</button>
    </div>
</div>
