<div class="container-lines">
  <div class="form-group col-3">
    <label for="totalLines" class="label-description" *ngIf="totalLines">total de linhas</label>
    <input type="number" id="totalLines" class="form-control inline-block"
           (change)="generateRowLines()" [(ngModel)]="totalLines" placeholder="Total de Linhas">
  </div>
  <div class="form-group col-3">
    <label for="dddLines" class="label-description" *ngIf="viewDDDs">ddd</label>

    <ngx-select [disabled]="!totalLines"  (select)="settingDDDAllLinnes()" class="select-plan select-custom" id="dddLines"
                [items]="viewDDDs"
                [(ngModel)]="ddd" placeholder="DDD">
    </ngx-select>
  </div>
  <b>Plano {{planDemand}}</b>
  <div *ngIf="ddd">
    <!--<div>-->
    <table id="tab1" class="table col-12">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">(DDD)Nº da linha</th>
        <th scope="col">Tipo</th>
        <th scope="col">Pacotes do Plano</th>
        <th scope="col">Serviços</th>
        <th scope="col">Valor</th>
      </tr>
      </thead>
      <tbody id="mytbody">
      <tr *ngFor="let item of listServiceDemandPhonesView; let i = index;" [id]="'line' + i">
        <td><i class="fas fa-trash-alt" (click)="removeNumberLine('numberLine' + i, i)"></i></td>
        <td>
          <div class="row">
            <select class="form-control select-ddd" >
              <option *ngFor="let ddd of viewDDDs">{{item.demandPhone.phone.ddd.ddd}}</option>
            </select>

<!--            <ngx-select class="select-ddd" [optionValueField]="'dddLine'+i" [items]="viewDDDs"-->
<!--                        (select)="settingDDDByLine($event, i)" [defaultValue]="listDemandPhonesView[i].phone.ddd.ddd"-->
<!--            ></ngx-select>-->
            <input type="text" [id]="'numberLine' + i" mask="{{maskPhone}}"
                   (change)="addNumberLine($event.srcElement.value, i)" class="form-control linne"
                   placeholder="Linha Nova">

          </div>
        </td>
        <td>
          <div class="form-group select-type-sale">
            <select class="form-control select-type-sale typesale" (select)="settingTypeSaleToLine($event, i)"
                    [id]="'package'+ i" placeholder="Venda">
              <option value="">Venda</option>
              <option *ngFor="let sale of viewTypesSale">{{sale.name}}</option>

            </select>
<!--            <ngx-select class="select-type-sale" (select)="settingTypeSaleToLine($event, i)"-->
<!--                       [id]="'typeSale'+i" [items]="viewTypesSale"></ngx-select>-->
          </div>
        </td>
        <td>
          <div class="form-group select-type-sale">
            <select class="form-control select-type-sale typesale" (select)="settingPackagesToLine($event, i)"
                        [id]="'package'+ i" placeholder="Pacotes">
              <option value="">Pacotes</option>
              <option *ngFor="let package of viewListPackages">{{package.title}}</option>

            </select>
          </div>
        </td>
        <td>
          <div class="form-group select-plan">

            <!--<div class="form-group">-->
            <!--<select class="form-control form-control-sm" required [(ngModel)]="serviceChoose"-->
            <!--id="select-plan">-->
            <!--<option selected="selected" value="">Serviços</option>-->
            <!--<option *ngFor="let service of listServices; let i = index;" [value]="service"-->
            <!--(click)="settingService($event, i, service)">{{service.name}}</option>-->
            <!--</select>-->
            <!--</div>-->

<!--            <select class="form-control select-type-sale typesale"-->
<!--                    (select)="settingService($event, i)" -->
<!--                    [id]="'package'+ i" placeholder="Pacotes">-->
<!--              <option value="">Serviços</option>-->
<!--              <option *ngFor="let package of viewListPackages">{{package.title}}</option>-->
<!--            </select>-->

            <ngx-select class="select-plan-service"
                        [items]="viewServices"
                        (select)="settingService($event, i)" id="select-plan"

                        placeholder="Serviços">
              <!--<ng-template ngx-select-option-selected let-option let-text="text">-->
              <!--<span class="color-box" ></span>-->
              <!--<span [innerHtml]="text"></span>-->
              <!--</ng-template>-->

            </ngx-select>
            <div class="form-group" *ngFor="let serv of viewServicesChoose">
              <span>{{serv.service.name}}<i class="fas fa-times-circle"></i></span>
            </div>
<!--            original-->
<!--            <div class="form-group" *ngFor="let serv of this.listDemandPhonesView[i]-->
<!--                .planService.TitlePlan.listServices; let indL = index;">-->
<!--              <span>{{serv.name}} {{indL}}<i class="fas fa-times-circle" (click)="removeServiceToLinne(i, indL)"></i></span>-->
<!--            </div>-->
          </div>
        </td>
        <td>
          <div class="form-group">
<!--            R$ {{listDemandPhonesView[i].totalValue}}-->
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example" *ngIf="totalPages">
      <ul class="pagination">
        <li class="page-item"><span class="page-link"
                                    (click)="changePaginate(((currentPage - 1) < 1) ? 1 : (currentPage - 1))">></span>
        </li>
        <li [class.active]="i == 0" *ngFor="let page of [].constructor(totalPages); let i = index;" [id]="'page'+(i+1)"
            class="page-item">
          <span class="page-link" (click)="changePaginate(i+1)">{{i + 1}}</span>
        </li>
        <li class="page-item"><span class="page-link"
                                    (click)="changePaginate(((currentPage + 1) > totalPages) ? totalPages : (currentPage + 1))"><</span>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
  <div class="row flex-row-reverse container-next" *ngIf="showbtnAvancar">
    <button type="button" (click)="nextPass()" class="btn btn-info">Avançar</button>
  </div>

</div>
