.container-lines{
  margin: 20px;
}
.label-description{
  font-size: 0.8em;
}
.fas{
  color: #ff0000;
}
table{
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.linne{
  width: 130px;
  margin-left: 10px;
}
.typesale{
  width: 90px;
}
ngx-select__selected{
  font-size: 0.7em;

}
.select-type-sale, .select-type-sale:focus{
  width: 130px;
  border-radius: 5px;
}
.select-plan, .select-plan:focus{
  width: 150px;
}
.select-ddd, .select-ddd:focus{
  width: 60px;
  border-radius: 5px;
}
.select-plan-service::after > *{
  font-size: 0.7em!important;
}
.ngx-select dropdown{
  width: 100%;
}

